<a class="post-link" href="/post/{{id}}">
  <div class="post-comment-wrapper">
    <div class="post-card">

      <div class="card-header">
        <h2 class="post-title" value="{{id}}">{{title}}</h2>
        <p class="date-created">Posted on: {{date_created}}</p>
      </div>

      <p class="username">{{user.name}}</p>

      <p class="post-description">{{description}}</p>
      <p>{{name}}</p>

    </div>

  </div>
</a>