{{!-- This page is for all the posts that the logged in user has created --}}
<div class="dashboard-wrapper" data-value="{{user_id}}">

  <h2 id="dashboard-header" class="dashboard-categories">Dashboard</h2>

  {{!-- Create a post section --}}

  <h2 class="dashboard-categories">Posts</h2>

  <button id="reveal-post-btn" class="btn btn-primary">Create Post <i class="bi bi-plus-lg"></i></button>

  <div id="create-post-wrapper" class="create-post-wrapper">

    <form class="create-post-form">
      <div class="form-group">
        <label for="create-post-name">Post Title</label>
        <input type="text" class="form-control" id="create-post-name">
      </div>

      <div class="form-group">
        <label for="create-post-content">Description</label>
        <textarea type="text" class="form-control" id="create-post-content"></textarea>
      </div>

      <button id="create-post-btn" class="btn btn-primary">Create Post <i class="bi bi-plus-lg"></i></button>

    </form>

  </div>

  {{!-- Posts section --}}

  <div class="dashboard-post-container">
    {{#if user.posts}}
    {{#each user.posts as |post|}}

    <div class="post-card">

      {{!-- Allows the user to view their comment, edit, or delete it --}}
      <div class="edit-header">
        <a class="dashboard-post-link" href="/post/{{post.id}}">View</a>
        <a class="dashboard-update-link" href="/post/update/{{post.id}}">Edit</a>
        <a class="dashboard-delete-link" href="/">Delete</a>
      </div>

      <div class="card-header">
        <h2 class="post-title" value="{{post.id}}">{{post.title}}</h2>
        {{!-- <a href="/">TAKE ME HOME</a> --}}
        <p class="date-created">Posted on: {{post.date_created}}</p>
      </div>

      <p class="username">{{post.user.name}}</p>

      <p class="post-description">{{post.description}}</p>

    </div>

    {{/each}}

    {{else}}
    <p class="db-error">You have no posts at the moment. Click the "Create Post +" button above to get started!</p>
    {{/if}}
  </div>

  {{!-- Comments section --}}

  <div class="dashboard-post-container">
    <h2 class="dashboard-categories">Comments</h2>

    {{#if user.comments}}

    {{#each user.comments as |comment|}}

    <div class="comment-card" comment-id="{{comment.id}}">

      <p class="comment-post-title">Commented on: {{comment.post.title}}</p>
      <p class="commenter-time">Posted on: {{comment.date_created}}</p>
      <p class="commenter-comment">{{comment.description}}</p>

    </div>

    {{/each}}

    {{else}}

    <p class="db-error">You have no comments at the moment. Click on a post on the homepage to make one!</p>

    {{/if}}

  </div>

</div>

<script src="/js/dashboard.js"></script>